input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	width: 100%;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=radio] {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	left: 0;
	top: 0;
	visibility: hidden;
}

/* Убираем стрелки у цифрового инпута */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
}

textarea.input {
	resize: none;
	padding: 0.3125rem 0.625rem;
	width: 100%;
}

/* Стилизация placeholder  */
::-webkit-input-placeholder {
	transition: all 0.3s ease 0s;
	color: rgba(2, 0, 32, 0.3);
}

::-moz-placeholder {
	transition: all 0.3s ease 0s;
	color: rgba(2, 0, 32, 0.3);
}

/* Firefox 19+ */
:-moz-placeholder {
	transition: all 0.3s ease 0s;
	color: rgba(2, 0, 32, 0.3);
}

/* Firefox 18- */
:-ms-input-placeholder {
	transition: all 0.3s ease 0s;
	color: rgba(2, 0, 32, 0.3);
}
/* //======================================================================================================================================================== */

.field {
	position: relative;
	overflow: hidden;
	width: 100%;
 }

.field__input {
	display: block;
	margin: 0;
	padding: 0px 2.4375rem 0 0.9375rem;
	color: inherit;
	width: 100%;
	font-family: inherit;
	font-size: 1rem;
	font-weight: inherit;
	border: none;
	color: #000;
	transition: all 0.3s ease 0s;
	height: 3.125rem;
	border-radius: 0.1875rem;
	background: rgba(2, 0, 32, 0.03);
 }
 
 .field__label {
	color: #65657b;
	left: 1.25rem;
	line-height: 0.875rem;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: 1.25rem;
	span {
		color: red;
	}
 }

 .field__input:focus ~ .field__label,
 .field__input:not(:placeholder-shown) ~ .field__label {
	transform: translateY(-0.9375rem) translateX(-0.3125rem) scale(0.65);
 }
 
 .field__input:not(:placeholder-shown) ~ .field__label {
	/* color: #808097; */
 }
 
 .field__input:focus ~ .field__label {
	/* color: #dc2f55; */
 }

 /* Validation ======================================================================================================================== */

.field._form-error .field__input {
	border: 0.0625rem solid red;
}
.field .form__error {
	display: block;
	font-size: 0.625rem;
	font-weight: 400;
	letter-spacing: 0em;
	color: red;
	margin-top: 0.3125rem;
}
.field:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 0.8125rem;
	transform: translateY(-50%);
	width: 1.25rem;
	height: 1.25rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.field._check-focus:before {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNSAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMS4zMzQgNi40NzAxNkwxMC4yMDY4IDE4TDMuMzMzOTggMTAuODc4NEw0LjkyNDYzIDkuNDA4MjRMMTAuMjA2OCAxNC44ODE2TDE5Ljc0MzMgNUwyMS4zMzQgNi40NzAxNloiIGZpbGw9IiMwMEJGMzYiLz4KPC9zdmc+Cg==');
}

.field._form-error:before {
	top: 40%;
	width: 1.125rem;
	height: 1.125rem;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNSAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIwLjMzMDUgMi41ODU5NEwxMi4zMzA1IDEwLjU4NTlMNC4zMzA1MiAyLjU4NTk0TDIuOTE2MDIgMy45OTk5NEwxMC45MTY1IDExLjk5OTlMMi45MTYwMiAxOS45OTk5TDQuMzMwNTIgMjEuNDEzOUwxMi4zMzA1IDEzLjQxMzlMMjAuMzMwNSAyMS40MTM5TDIxLjc0NDUgMTkuOTk5OUwxMy43NDQ1IDExLjk5OTlMMjEuNzQ0NSAzLjk5OTk0TDIwLjMzMDUgMi41ODU5NFoiIGZpbGw9InJlZCIvPgo8L3N2Zz4K');
}
 /* =================================================================================================================================== *

 /* .Input .input__viewpass {
	position: absolute;
	right: 0.8125rem;
	top: 50%;
	transform: translate(0, -50%);
	color: rgba(2, 0, 32, 0.3);
	font-size: 1.25rem;
	background: transparent;
}

.Input._form-error {
	.Input__check {
		opacity: 0;
		visibility: hidden;
	}
}
.Input__check {
	position: absolute;
	right: 0.9375rem;
	top: 50%;
	transform: translate(0, -50%);
	color: rgba(0, 191, 54, 1);
	font-size: 1rem;
	background: transparent;
	opacity: 0;
	visibility: hidden;
}

._check-focus .Input__check {
	opacity: 1;
	visibility: visible;
} */
 

 

